{% extends 'layout.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <h1>Home Page</h1>
    <p>Welcome to DYSIO PDF EDITOR where you can edit your pdf files with some simple functions.</p>
    <h3>Merge</h3>
    <p>With merge you can join multiple pdf files. They are joined in alphabeticall way so remember
        to named the files first and then upload them.</p>
    <h3>Split</h3>
    <p>With split you can split the whole document just by uploading the file and passing numbers of pages
    where you want to split the file.</p>
    <h3>Split By Page Size</h3>
    <p>With split by page size you can split the whole document by page size. The document will be splitted into
    files that consist one height of page: A4, A3, 297, 420, 610 and bigger.</p>
    <h3>Rotate</h3>
    <p>With rotate you can rotate each size of document just by uploading the file and passing numbers of pages
    where you want to rotate the page.</p>


{% endblock %}
