{% extends 'layout.html' %}

{% block title %}
    Rotate
{% endblock %}

{% block main %}
    <h1>Rotate</h1>
{% endblock %}

{% block form %}
        <p>Pass number of pages which you want to rotate separated with comma i.e. 3,5,10</p>
        <label>Pages rotate by 90</label>
        <input type="text" class="form-control" name="pages90" id="pages" placeholder="3,5,10">
        <label>Pages rotate by 180</label>
        <input type="text" class="form-control" name="pages180" id="pages" placeholder="3,5,10">
        <label>Pages rotate by 270</label>
        <input type="text" class="form-control" name="pages270" id="pages" placeholder="3,5,10">
        <p></p>
{% endblock %}